:root {
  --theme-page-bg: #ffffff;
  --theme-page-secondary-bg: #f1f2f3;

  --theme-active: #007aff;
  --theme-active-contrast: #ffffff;

  --theme-primary-text: #303133;
  --theme-regular-text: #606266;
  --theme-secondary-text: #909399;

  --theme-base-border: #dcdfe6;

  --m-s: 6px;
  --m-m: 12px;
  --m-l: 24px;

  --p-s: 6px;
  --p-m: 12px;
  --p-l: 24px;

  --br-s: 6px;
  --br-m: 12px;
  --br-l: 24px;

  --fs-s: 12px;
  --fs-m: 16px;
  --fs-l: 24px;
}
